<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwl.bosshire.dao.CompanyDeliveryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.lwl.bosshire.pojo.CompanyDeliveryRecord" >
    <result column="company_delivery_record_id" property="companyDeliveryRecordId" jdbcType="VARCHAR" />
    <result column="company_delivery_record_username" property="companyDeliveryRecordUsername" jdbcType="VARCHAR" />
    <result column="company_delivery_record_userId" property="companyDeliveryRecordUserid" jdbcType="INTEGER" />
    <result column="company_delivery_record_companyId" property="companyDeliveryRecordCompanyid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    company_delivery_record_id, company_delivery_record_username, company_delivery_record_userId, 
    company_delivery_record_companyId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lwl.bosshire.pojo.CompanyDeliveryRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_delivery_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.lwl.bosshire.pojo.CompanyDeliveryRecordExample" >
    delete from company_delivery_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lwl.bosshire.pojo.CompanyDeliveryRecord" >
    insert into company_delivery_record (company_delivery_record_id, company_delivery_record_username, 
      company_delivery_record_userId, company_delivery_record_companyId
      )
    values (#{companyDeliveryRecordId,jdbcType=VARCHAR}, #{companyDeliveryRecordUsername,jdbcType=VARCHAR}, 
      #{companyDeliveryRecordUserid,jdbcType=INTEGER}, #{companyDeliveryRecordCompanyid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lwl.bosshire.pojo.CompanyDeliveryRecord" >
    insert into company_delivery_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyDeliveryRecordId != null" >
        company_delivery_record_id,
      </if>
      <if test="companyDeliveryRecordUsername != null" >
        company_delivery_record_username,
      </if>
      <if test="companyDeliveryRecordUserid != null" >
        company_delivery_record_userId,
      </if>
      <if test="companyDeliveryRecordCompanyid != null" >
        company_delivery_record_companyId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyDeliveryRecordId != null" >
        #{companyDeliveryRecordId,jdbcType=VARCHAR},
      </if>
      <if test="companyDeliveryRecordUsername != null" >
        #{companyDeliveryRecordUsername,jdbcType=VARCHAR},
      </if>
      <if test="companyDeliveryRecordUserid != null" >
        #{companyDeliveryRecordUserid,jdbcType=INTEGER},
      </if>
      <if test="companyDeliveryRecordCompanyid != null" >
        #{companyDeliveryRecordCompanyid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lwl.bosshire.pojo.CompanyDeliveryRecordExample" resultType="java.lang.Integer" >
    select count(*) from company_delivery_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company_delivery_record
    <set >
      <if test="record.companyDeliveryRecordId != null" >
        company_delivery_record_id = #{record.companyDeliveryRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyDeliveryRecordUsername != null" >
        company_delivery_record_username = #{record.companyDeliveryRecordUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.companyDeliveryRecordUserid != null" >
        company_delivery_record_userId = #{record.companyDeliveryRecordUserid,jdbcType=INTEGER},
      </if>
      <if test="record.companyDeliveryRecordCompanyid != null" >
        company_delivery_record_companyId = #{record.companyDeliveryRecordCompanyid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company_delivery_record
    set company_delivery_record_id = #{record.companyDeliveryRecordId,jdbcType=VARCHAR},
      company_delivery_record_username = #{record.companyDeliveryRecordUsername,jdbcType=VARCHAR},
      company_delivery_record_userId = #{record.companyDeliveryRecordUserid,jdbcType=INTEGER},
      company_delivery_record_companyId = #{record.companyDeliveryRecordCompanyid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>